<div>
    <nav class="navbar navbar-light bg-light justify-content-between" style="background-color: rgb(213, 223, 122);">
        <p class="navbar-brand nv" style="color: rgb(214, 133, 26); font-size: 2em;margin-right: 10%;">Welcome
            {{user_name}}</p>
            <button class="navbar-brand"
            style="color: rgb(214, 133, 26); font-size: 2em; margin-right: 10%; background-color: rgb(213, 223, 122); border-color: rgb(213, 223, 122);"
            (click)="onBar()">Bar
            Charts</button>
        <button class="navbar-brand"
            style="color: rgb(214, 133, 26); font-size: 2em; margin-right: 10%; background-color: rgb(213, 223, 122); border-color: rgb(213, 223, 122);"
            (click)="onPie()">Pie
            Charts</button>
        <button class="btn btn-outline-success my-2 my-sm-0"
            style="float: right; margin-right: 15px; margin-top: 10px; color: brown;" type="submit"
            (click)="onLogout()">LogOut</button>
    </nav>
</div>
<hr>
<br>
<div>
    <h1 style = " margin-left:35%">Medical Cost Personal Datasets<br></h1>

    <p>&nbsp;The dataset for medical costs insurance is taken from Kaggle <a href = 'https://www.kaggle.com/datasets/mirichoi0218/insurance'>https://www.kaggle.com/datasets/mirichoi0218/insurance</a></p>
    <h3>&nbsp;Content</h3>
    <h4>&nbsp; Columns
        <br>
        &nbsp;age: age of primary beneficiary
        <br><br>
        &nbsp;sex: insurance contractor gender, female, male
        <br><br>
        &nbsp;bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
        objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9
        <br><br>
        &nbsp;children: Number of children covered by health insurance / Number of dependents
        <br><br>
        &nbsp;smoker: Smoking
        <br><br>
        &nbsp;region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.
        <br><br>
        &nbsp;charges: Individual medical costs billed by health insurance
    </h4> 
    
</div>